* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins&display=swap');
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
}

.main-container {
  display: flex;

}
main {
  /* padding: 10px; */
  /* background-color: black;
   */
   /* height: 100vh; */
   background: linear-gradient(105.42deg, #1c5eaa 20.61%, #4698f6 116.17%);
  width: 100%;

}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: #185294;
  color: white;
  height: 100vh;
  /* overflow-y: auto; */
  /* position: absolute; */
  /* position:sticky; */
  position: relative;
  /* padding: 10px; */
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 9px ;
  height: 30px;
  padding: 20px 12px;
  font-size: larger;
  background-color: #206DC5;
  /* padding: 20px; */
  
}
/* .search input::placeholder{
  background-color: white;
  
} */

.search input {
  border: none;
  outline: none;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #206DC5;
  color: white;
  margin-top: 5px;
  
  
  /* background: rgb(238, 238, 238); */

  
}
.search input::placeholder{
  color: white;
  font-size: large;
}


.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
  /* border-radius: 10px; */
}
.link {
  display: flex;
  color: white;
  gap: 12px;
  padding: 10px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  /* border-right: 4px solid white; */
  background: #206DC5;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  padding: 10px;
  border-radius: 8px;
}
.active {
  /* border-right: 4px solid white; */
  background: #206DC5;
  padding: 10px;
  border-radius: 8px;
  /* margin-top: 10px; */
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
}

.menu {
  display: flex;
  color: white;

  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
}